* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.triangle{
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 400px solid #324723;
    border-right: 400px solid rgba(128, 128, 128, 0);
    border-left: 400px solid #00000000;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}
.triangle::after{
    content: '';
    position: absolute;
    bottom: -360px;
    color: #fff;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 300px solid #8cc461;
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
}

.choiceImg {
    transform: rotate(180deg);
    background-color: #fff;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
    cursor: pointer;

}
.stone{
    border: 20px solid #0074b6;
    position: absolute;
    top: 300px;
    left: 230px;
    z-index: 100;
}
.stone:hover::after{
    content: "";
	position: absolute;
	display: block;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	z-index: -1;
	animation: stoneAnimation 0.6s infinite alternate-reverse;
}
@keyframes stoneAnimation{
    0% {
		border: 0px solid #0073b63a;
	}

	100% {
		border: 13px solid #0073b63a;
	}
}
.paper{
    border: 20px solid #ffa943;
    position: absolute;
    bottom: -100px;
    left: -85px;
    z-index: 100;
}
.paper:hover::after{
    content: "";
	position: absolute;
	display: block;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	z-index: -1;
	animation: paperAnimation 0.6s infinite alternate-reverse;
}
@keyframes paperAnimation{
    0% {
		border: 0px solid #ffaa4367;
	}

	100% {
		border: 13px solid #ffaa4367;
	}
}
.scissor{
    border: 20px solid #bd00ff;
    position: absolute;
    top: 300px;
    right: 230px;
    z-index: 100;
}
.scissor:hover::after{
    content: "";
	position: absolute;
	display: block;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	z-index: -1;
	animation: scissorAnimation 0.6s infinite alternate-reverse;
}
@keyframes scissorAnimation{
    0% {
		border: 0px solid #bb00ff62;
	}

	100% {
		border: 13px solid #bb00ff62;
	}
}